@keyframes fadeUp{
    from{
        transform: translateX(-1000px) scale(0.5);
        opacity:0;
    } to{
        transform: translateX(0px) scale(1);
        opacity:1;
    }    
}

.box{
    /* transform: translateY(100px); */
    animation: fadeUp 2s;
    animation-iteration-count: 1;
    width: 50%;
    height: 50vh;
    margin: 10% auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: solid 5px red;
    font-size: 50px;
}

html{
    font-size: 40px;
}

.item {
    width: 45px;
    height: 45px;
    background: #eee;
    margin: 1%;
    font-size: 2rem;
    font-family: 'Roboto','Lato', sans-serif;
    /* esse display flex é para o texto, que é filho de item */
    display: flex; 
    align-items: center;
    justify-content: center;
    transition-duration: 0.5s;
    
}

.box:hover .item{
    transform: translateX(200px) scale(2) rotate(360deg);
    border-radius: 50%;
}

/* .item:hover{
    transform: scale(2); 
    border-radius: 50%; 
} */

.a{
    color:red;
}

.b{
    color:blue;
}

.c{
    color:green;
}

.picture{
    width: 400px;
    height: 300px;
    margin: 0 auto;
    border: solid 1px red;
    /* overflow para esconder tudo que estiver fora da div picture */
    overflow: hidden;
    margin-bottom: 10%;
    position: relative;

}

.picture > figure > img{
    width: 100%;
    transition-duration: 1.5s;
}

.picture > figure > figcaption{
    width: 100%;
    height: 100px;
    background: #000000aa;
    color: white;
    position: absolute;
    bottom: -100px;
    text-align: center;
    transition-duration: 0.5s;
}

picture:hover img {
    transform: scale(2);
}

.picture:hover > figure > figcaption{
    bottom:0;
    transform: rotate(1440deg); 
    
}

.picture > figure{
    height: 300px;
    position: relative;
    
}

