@import 'reset.css';

/* exemplo de bootstrap 

.text{
    font-family: 'Roboto', 'Lato', sans-serif;
    font-size: 0.9em;
    color: #333;
}

.text.small{
    font-size: 0.6em;
}

.text.large{
    font-size: 2em;
}

.text.x-large{
    font-size: 4em;
}
class="text large" */

.menu, .container, .details{
    height: 100vh;
}

.details{
    border: var(--border); /* var chama a variável do reset.css */
    
}

.menu{
    width: var(--menuWidth);
    border-color: #24FF00;
    flex-direction: column;
    background-color: #F2F2F2;
}

.container{
    width: calc(100vw - (var(--menuWidth) + var(--detailsWidth))); /* 100vw é a tela toda subtraindo esquerda menu e direita details*/
    border-color: #FA00FF;
}

.details{
    width: var(--detailsWidth);
    border-color: #0500AF;
}

body{
    font-family: 'Roboto', 'Lato', sans-serif;
}

/* ------------------------------menu - header------------------ */
.menu > .menu__header__profile{
    flex-direction: column;
    font-size: 0.7em;
}

.menu input[type="search"],
.menu input[type="search"]::placeholder {
    font-size: 0.9em;
}
.menu .menu__header__profile > div{
    width: var(--menuWidth);
    align-items: center;
    justify-content: space-around;
}

.menu .header__img__profile{
    width: 20%;
    padding-right: 5px;
}

.menu .menu__header__profile svg {
    width: 24px;
    height: 24px;
}

.menu .menu__header__profile label{
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.1);
}

.menu .menu__header__profile label input {
    padding-left: 5%;
    border: none;
    background: none;
    width: 150px;
}

.menu > .activity ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-bottom: solid 0.5px rgba(100,100,100,0.2);
}

.menu > .activity ul li {
    line-height: 50px;
    display: flex;
    align-items: center;
    padding-left: 5%;
    padding-top: 5px;
    font-size: 0.9em;
}

.menu > .activity ul li:hover {
    background-color: rgba(100,100,100,0.1);
    cursor: pointer;
}

.menu > .activity ul li > svg {
    margin-right: 10%;
}

header.menu__header__profile > div:first-child {
    margin-left: 8px;
}

header.menu__header__profile > div {
    margin-top: 15px;
}
/* ------------------------------fim - menu - header ------------*/

/* ------------------------------main - .container ------------------------------*/

.container{
    width: 100%;
    height: inherit;
    flex-direction: column;
    
    /* mobile first */
    background: url('../images/bg-phone.jpg') center no-repeat;     
    background-size: cover;
}

.container > header, 
.container > footer {
    height: 133px;
    border:solid 1px red;
}

.container > section.tasks{
    height: calc(100vh - (133px * 2));
}

.container > header {
    width: 100%;
    flex-direction: column;
    color: #fff;
    text-shadow: 0 0 2px #333;
    padding-left: 5%;
    padding-right: 5%;
}

.container > header > div:first-child{
    margin-top:2%;
    justify-content:space-between;
}

.container > header > div > div.icons > svg{
    margin-left:10px;
}

.container footer form > label {
    margin: 50px;
    width: 200%;
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.1);
    
}

.container > footer> form>  label>  input{
    padding-left: 5%;
    border: none;
    background: none;
    width: 200px;
    
}

/* tablet */
@media (min-width: 768px){
    .container{
        background: url('../images/bg-tablet.jpg') center no-repeat;
        background-size: cover;
    }
}

/* desktop */
@media (min-width: 1280px){
    .container{
        background: url('../images/bg-desktop.jpg') center no-repeat;
        background-size: cover;
    }
}

/* ------------------------------fim - main - .container ------------------------------*/